$time-range-divider-width: 35px !default;

.TimeRange {
  display: inline-block;
  height: $default-unit-height;
  border: $standard-border;

  .Tag {
    position: relative;
    background: none;
    font-size: inherit;

    .Tag-cross {
      position: absolute;
      right: 0;
      width: 100%;
      background: $color-white;
      opacity: 0;
    }
  }
}

.TimeRange-divider {
  display: inline-table;
  width: $time-range-divider-width;
  height: 100%;
  background: $color-light-grey;
  color: $color-grey;
  vertical-align: top;
}

.TimeRange-divider-text {
  display: table-cell;
  text-align: center;
  font-weight: $font-weight-semibold;
  vertical-align: middle;
}
